<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Location
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="#">Sweden</a></li>
        <li><a class="dropdown-item" href="#">England</a></li>
        <li><a class="dropdown-item" href="#">USA</a></li>
        <li><a class="dropdown-item" href="#">North Korea</a></li>
        <li><a class="dropdown-item" href="#">Russia</a></li>
    </ul>
</div>