<!--suppress ALL -->
<a href="{% url 'home' %}">Home</a>
<h1>About</h1>
<p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem excepturi fugit mollitia nihil repudiandae
        sint veritatis vitae voluptate? Ad commodi doloremque esse nihil numquam odio officia repudiandae sint ullam
        voluptatum!</span>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem excepturi fugit mollitia nihil repudiandae
        sint veritatis vitae voluptate? Ad commodi doloremque esse nihil numquam odio officia repudiandae sint ullam
        voluptatum!</span>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem excepturi fugit mollitia nihil repudiandae
        sint veritatis vitae voluptate? Ad commodi doloremque esse nihil numquam odio officia repudiandae sint ullam
        voluptatum!</span>
</p>