{%  extends 'user_profile/base.html' %}
{% load static %}
{% block main %}
    <br>
    <div class="row g-5">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">
                Home
            </h4>
            <form action="." method="POST">
                {% csrf_token %}
                <div class="row g-6">
                    <div class="col-sm-6 img-responsive">
                        <label for="image" class="form-label"></label>
                        <br>
                        <img class="img-fluid" src="{% static 'user_profile/userprofile.jpg' %}" alt="user profile image">
                    </div>
                    <div class="col-sm-6">
                        <div class="col-12">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                {{ profile_form.username }}
                                <div class="invalid-feedback">
                                    Your username is required.
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                            {{ profile_form.email }}
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="profile_image" class="form-label">Profile image<span class="text-muted"></span></label>
                            {{ profile_form.image }}
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="password" class="form-label">Password<span class="text-muted"></span></label>
                            {{ profile_form.password }}
                            <br>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First name</label>
                        {{ profile_form.first_name }}
                    </div>
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last name</label>
                        {{ profile_form.last_name }}
                    </div>
                    <div class="col-sm-6">
                        <label for="phone" class="form-label">Phone</label>
                        {{ profile_form.phone }}
                    </div>
                    <div class="col-sm-6">
                        <label for="about" class="form-label">About</label>
                        {{ profile_form.about }}
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    <i class="bi bi-save"></i>
                    Save
                </button>
            </form>
        </div>
    </div>
{% endblock %}